<form name="paymentRegistration">
    <div>
        <input type="number" 
               name="cardNumber" 
               placeholder="Credit Card Number"
               minlength="16"
               maxlength="16"
               ng-model="formCtrl.userData.ccNumber"
               ng-change="formCtrl.save()"
               required>
    </div>
    <div>
        <input type="number" 
               name="expData" 
               placeholder="Expiration date"
               minlength="6"
               maxlength="6"
               ng-model="formCtrl.userData.expDate"
               ng-change="formCtrl.save()"
               required>   
    </div>
</form>
<div>
    <button ng-click="formCtrl.previous()">Previous</button>
</div>
<div>
    <button ng-click="formCtrl.submit()"
            ng-disabled="paymentRegistration.$invalid">
            Submit
    </button>
</div>