<div class="margins">
    <h3 class="md-display-1">Payment</h3>
    <form name="paymentRegistration">
        <md-input-container class="md-block">
            <input type="text" 
                   name="cardNumber" 
                   placeholder="Credit Card Number"
                   ng-pattern="/^[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}$/" 
                   ng-model="formCtrl.userData.ccNumber"
                   ng-change="formCtrl.save()"
                   required>
            <div class="hint md-caption grey">####-####-####-####</div>       
        </md-input-container class="md-block">
        <md-input-container class="md-block">
            <input type="text" 
                   name="expData" 
                   placeholder="Expiration date"
                   ng-pattern="/^[0-9]{2}-[0-9]{4}$/" 
                   ng-model="formCtrl.userData.expDate"
                   ng-change="formCtrl.save()"
                   required>
            <div class="hint md-caption grey">MM-YYYY</div>   
        </md-input-container class="md-block">
    </form>
    <div class="center-parent">
        <md-button class="md-fab md-accent pull-left"
                   aria-label="previous"
                   ng-click="formCtrl.previous()">
            <md-icon md-svg-src="../assets/icons/previous_36px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-accent md-hue-1 pull-right"
                   aria-label="submit"
                   ng-click="formCtrl.submit()"
                   ng-disabled="paymentRegistration.$invalid">
            <md-icon md-svg-src="../assets/icons/submit_check_36px.svg"></md-icon>
        </md-button>
        <div class="grey center-child">
             Step {{formCtrl.userData.page}} of 3
        </div>
        <div class="clearfix"></div>  
    </div>   
</div>
