<div class="page-header height-35 shadow center-parent">
    <div class="title-font center-child">
         Booster
    </div>
</div>
<div ng-if="formCtrl.getErrors().length">
    <md-toolbar class="md-accent md-hue-2 shadow">
        <span flex></span>
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
            <span class="md-flex">{{ formCtrl.getErrors() }}</span>
        </h2>
    </md-toolbar>    
</div>
<div ng-if="formCtrl.userData.page === 1">
    <div ng-include="'templates/userInfo.html'"></div>
</div>
<div ng-if="formCtrl.userData.page === 2">
    <div ng-include="'templates/carInfo.html'"></div>
</div> 
<div ng-if="formCtrl.userData.page === 3">
    <div ng-include="'templates/creditInfo.html'"></div>
</div>
<div ng-if="formCtrl.userData.page === 4">
    <div ng-include="'templates/thankyou.html'"></div>
</div>
