<form ng-submit="personal.next()">
    <div>
        <input type="text" 
               name="firstName" 
               placeholder="First name"
               ng-model="personal.first">
    </div>
    <div>
        <input type="text" 
               name="lastName" 
               placeholder="Last name"
               ng-model="personal.last">
    </div>
    <div>
        <input type="email" 
               name="email" 
               placeholder="Email"
               ng-model="personal.email">   
    </div>
    <div>
        <input type="submit" 
               value="Next">
    </div>
</form>