<div class="margins">
    <h3 class="md-display-1">Profile</h3>  
    <form name="userRegistration">
        <md-input-container class="md-block">
          <input type="text" 
                 name="first" 
                 placeholder="First name"
                 ng-model="formCtrl.userData.first"
                 ng-change="formCtrl.save()"
                 required>
        </md-input-container>
        <md-input-container class="md-block">
          <input type="text" 
                 name="last" 
                 placeholder="Last name"
                 ng-model="formCtrl.userData.last"
                 ng-change="formCtrl.save()"
                 required>
        </md-input-container>
        <md-input-container class="md-block">
          <input type="email" 
                 name="email" 
                 placeholder="Email"
                 ng-model="formCtrl.userData.email"
                 ng-change="formCtrl.save()"
                 required>   
        </md-input-container>
    </form>
    <div class="center-parent">
        <md-button class="md-fab md-accent pull-right"
                   aria-label="next"
                   ng-click="formCtrl.next()"
                   ng-disabled="userRegistration.$invalid">
            <md-icon md-svg-src="../assets/icons/next_36px.svg"></md-icon>
        </md-button>
        <div class="grey center-child">
             Step {{formCtrl.userData.page}} of 3
        </div>
        <div class="clearfix"></div>
    </div>
</div>    